.overflow-y-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: lightblue !important;
}
.bold-form .ant-form-item-label {
  font-weight: bold;
}
